<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>All Lessons - Untitled Learning Platform</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <ul class="navbar">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/lessons">Browse Lessons</a></li>
        <li><a href="/">My Profile</a></li>
    </ul>
    <h1>All Lessons</h1>
    <main>
        <!--
            Populate with lessons from request body, then run client script to alternate colors [might need simplification]
        -->
        {{#each reqbody.lessons}}
        <div class="lesson-row-a">
            <div class="lesson-column-1">
                <h3>{{title}}</h3>
                <ul>
                    <li><p>Topic: {{subject}}</p></li>
                    <li><p>Questions: {{questions.length}}</p></li>
                </ul>
            </div>
            <div class="lesson-column-2">
                <p>(Badge icons)</p>
            </div>
            <div class="lesson-column-3">
                <button class="lesson-go">Go</button>
            </div>
        </div>
        {{/each}}
    </main>
    <br>
    <footer>Copyright &copy; 2020 Untitled Learning Platform</footer>
</body>
</html>