.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
}

.navbar li {
    display: inline-flex;
}

.navbar a {
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    display: block;
}

.navbar a:hover {
    background-color: yellow;
    font-weight: bold;
}

footer {
    text-align: center;
}

.container {
    border-bottom: 2px solid black;
}

.container-header {
    text-align: center;
    border-bottom: 2px solid black;
}

.badge-icon {
    height: 50px;
    width: 50px;
}

/* Dashboard page */

.dashboard-column {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.card {
    display: inline-block;
    margin-top: 5px;
}

/* Lessons page, might be separated later */

.lesson-column {
    padding-top: 10px;
    padding-bottom: 10px;
}

.lesson-column-2 {
    text-align: center;
    margin: auto;
}

.lesson-column-3 {
    text-align: center;
    margin: auto;
}

.lesson-go {
    font-size: 150%;
    border: none;
    background-color: #4caf50;
    color: white;
    padding: 15px 32px;
}

.lesson-go:hover {
    font-weight: bold;
}

/* Profile page */

#profile_photo {
    width: 25%;
    height: 60%;
}

/* Login page */

.tab-pane {
    text-align: center;
}

.tab-pane input {
    width: 30%;
}

.form-control {
    margin: 0 auto;
}