body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-flex;
}

.navbar a {
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    display: block;
}

footer {
    text-align: center;
}

.lesson-row-header, .lesson-row-a, .lesson-row-b {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.lesson-row-a div {
    padding: 5px;
    background-color: #bbb;
}

.lesson-column-1 {
    min-width: 50%;
}

.lesson-column-2 {
    min-width: 30%;
}

.lesson-column-3 {
    min-width: 20%;
    text-align: center;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.lesson-go {
    font-size: 200%;
}